/* FONTS */
@font-face {
  src: url(../fonts/Catamaran-Bold.ttf);
  font-family: Catamaran-Bold;
}

/* GENERAL STYLES */
body{
  background-color: #dff9fb;
  overflow-x: hidden;
}

h1, h2, p{
  font-family: Catamaran-Bold;
}

/* MAIN STYLES */
.game-wrapper{
  width: 100vw;
}

/* PLAYER WEAPON */

.player-weapon{
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-weapon-container div{
  height: 80px;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.player-weapon-container p{
  margin-top: 5px;
  font-size: 1.3em;
}

/* PLAYER ACTIONS */

.player-actions{
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-actions button{
  width: 90px;
  font-family: Catamaran-Bold;
  padding-bottom: 3px;
}

@media screen and (max-width: 430px) {
  .player-actions button{
    display: block;
    margin: 5px auto;
  }
}

/* PLAYER HEALTH */

.player-health{
  height: 100px;;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.health-bar{
  width: 185px;
  height: 20px;
  border-radius: 4px;
  background-color: #E9ECEF;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

.health{
  border-radius: 4px;
  height: 100%;
  background-color: #5CB85C;
  transition: width .6s ease;
}

/* PLAYER IMAGES */
.player-image{
  max-width: 100%;
  overflow: hidden;

}

.player-image img{
  width: 100%;
  max-width: 400px;
  z-index: -1;
  margin: 0 auto;
}

@media screen and (max-width: 992px) {
  .player-weapon{
    height: auto;
    margin: 10px 0;
  }

  .player-weapon-container div{
    height: 50px;
  }

  .player-actions{
    height: auto;
    margin: 10px 0;
  }

  .player-health{
    height: auto;
    margin: 20px 0;
  }
}

/* GAME BOARD */
.board{
  width: 100%;
  max-width: 750px;
  padding: 10px;
  margin: 50px auto 10px auto;
  border: 5px solid #7f5122;
}

.board-row{
  display: flex;
  justify-content: space-between;
}

.col{
  border: 1px solid #e9e9e9;
  width: 10%;
  display: inline-block;
}

/* COL CLASSES */
.player1-next{
  background-color: rgba(235, 82, 125, .3);
  cursor: pointer;
}

.player2-next{
  background-color: rgba(152, 214, 235, .6);
  cursor: pointer;
}

.weapon-hand{
  background-image: url(../../media/game/weapons/hand.png);
  background-size: cover;
}

.weapon-plunger{
  background-image: url(../../media/game/weapons/plunger.png);
  background-size: cover;
}

.weapon-slippers{
  background-image: url(../../media/game/weapons/slippers.png);
  background-size: cover;
}

.weapon-toothbrush{
  background-image: url(../../media/game/weapons/toothbrush.png);
  background-size: cover;
}

.weapon-towel{
  background-image: url(../../media/game/weapons/towel.png);
  background-size: cover;
}

.obstacle{
  background-color: rgba(235, 82, 125, 1);
}

.obstacle-baby{ /* NOT USED ATM */
  background-image: url(../../media/game/obstacles/baby.png);
  background-size: cover;
  background-color: rgba(235, 82, 125, 1);
}

.obstacle-closet{ /* NOT USED ATM */
  background-image: url(../../media/game/obstacles/closet.png);
  background-size: cover;
  background-color: rgba(235, 82, 125, 1);
}
.obstacle-washing{ /* NOT USED ATM */
  background-image: url(../../media/game/obstacles/washing.png);
  background-size: cover;
  background-color: rgba(235, 82, 125, 1);
}

/* Players */
#player1{
  height: 100%;
  width: 100%;
  background-image: url(../../media/game/players/player1.png);
  background-size: cover;
  background-color: rgba(235, 82, 125, .3);
}

#player2{
  height: 100%;
  width: 100%;
  background-image: url(../../media/game/players/player2.png);
  background-size: cover;
  background-color: rgba(152, 214, 235, .6);
}

/* END GAME */
.end-game-page{
  min-height: 100vh;
  border: 1px solid blue;
  position: absolute;
  left: 0; top: 0; right: 0;
  background-color: #DFF9FB;
}

.end-game-page h1{
  text-align: center;
}

.winner, .loser{
  width: 100%;
  height: 400px;
}

.end-game-page ul{
  list-style: none;
  font-family: Catamaran-Bold;
  display: flex;
  justify-content:  space-around;
  margin: 0;
  padding: 0;
}

.end-game-page li{
  display: inline-block;
  width: 90px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: black;
}

.end-game-page ul *{
  color: black;
}

#new-game{
  cursor: pointer;
}

.end-game-page li  i{
  font-size: 2em;
}

@media screen and (min-width: 600px) {
  .end-game-page .container{
    margin-top: 100px;
  }
  .end-game-page ul{
    margin: 40px 0 0 0;
  }
}

/* END GAME CLASSES */
.player1-win{
  background-image: url(../../media/landing-page/son.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.player2-win{
  background-image: url(../../media/landing-page/daughter.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.player1-loss{
  background-image: url(../../media/landing-page/son-sad.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.player2-loss{
  background-image: url(../../media/landing-page/daughter-sad.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
